################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/code.playcanvas.com
/bootstrap.js
/data.js
/index.html
/logo.png
/files/assets
/LocalServer.bat
/XNASpaceRace.bat
/_localserver.bat
/node_modules/express
/node_modules/socket.io
/node_modules/socket.io-client
/node_modules/webrtc.io-client
/.vs/XNASpaceRace/v14/.suo
