################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/LocalServer.bat
/XNASpaceRace.bat
/_localserver.bat
/.vs/XNASpaceRace/v14/.suo
